
@{
    ViewBag.Title = "ShowRole";
}
@using MVC_CircloidTemplate.Models

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Rol Gösterme Sayfası
                </div>
                <div class="block-controls">
                    <a href="/User/Index"> <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span></a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="h2">
                        Kullanıcı Adı:<b>@ViewBag.Username</b>
                    </div>
                    <form action="/User/ShowRole" method="post" role="form" enctype="multipart/form-data">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group h4">
                                        Kullanıcı Rolleri:
                                    </div>
                                    <div id="divUserRoles">
                                        <select multiple class="form-control" id="selectUserRoles" name="removedRoles">
                                            @foreach (string role in ViewBag.UserRoles)
                                            {
                                                <option value="@role">@role</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
